{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
        {% block custom %}
        {% endblock %}
    
</head>

<body>
  <header>
    <a href="#" class="logo"><i class='bx bxs-bowl-hot'><span>Cockery</span></i></a>

    <ul class="navbar">
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/receipes/" >Add receipe</a></li>
        <li><a href="#" >Services</a></li>
        <li><a href="#" >Blog</a></li>
        <li><a href="#" >Contact</a></li>
    </ul>
    <div class="main">
        {% if request.user.is_authenticated %}
        <a href="/logout_page/" class="user"><i class="ri-user-fill"></i>Log Out</a>
        {% else %}
        <a href="/login_page/" class="user"><i class="ri-user-fill"></i>Sign In</a>
        {% endif %}
        <a href="/register_page/">Register</a>
        <div class="bx bx-menu" id="menu-icon"></div>

    </div>
</header>
    {% block start %}
    {% endblock %}
    <script src="{% static 'javascript/navbar.js' %}"></script>
</body>

</html>